#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: MOT0_STEP
dir_pin: !MOT0_DIR
enable_pin: !MOT0_EN
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: ebb36:PROBE_2 #tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 250
position_max: 250
homing_speed: 66   #Max 100
homing_retract_dist: 5
second_homing_speed: 20
homing_retract_dist: 10
#homing_positive_dir: true

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin:  ESTOP5 #tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 256
position_max: 256
homing_speed: 66  #Max 100
homing_retract_dist: 5
second_homing_speed: 20
homing_retract_dist: 10
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: MOT0_CS
interpolate: false
run_current: 1.4
#hold_current: 0.1
sense_resistor: 0.111
stealthchop_threshold: 1 #999999
diag_pin: ESTOP0      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 105  # 255 is most sensitive value, 0 is least sensitive
driver_TOFF: 2
driver_TBL: 0

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: MOT1_CS
interpolate: false
run_current: 1.4
#hold_current: 0.1
sense_resistor: 0.111
stealthchop_threshold: 1 #999999
diag_pin: ESTOP1      # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 105  # 255 is most sensitive value, 0 is least sensitive
driver_TOFF: 2
driver_TBL: 0